<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title %></title>
  <style>
    h1 {
      font-size: 60pt;
      color: #eee;
      text-align: right;
      margin: 0px;
    }
    body {
      font-size: 14pt;
      color: #999;
      margin: 5px;
    }
  </style>
</head>
<body>
  <head>
    <h1>Index</h1>
  </head>
  <div role="main">
    <p><%=title %></p>
    <p><%=content %></p>
  </div>
</body>
</html>